python-dotenv
tqdm
uuid
jsonlines
PyMuPDF==1.24.7
fitz
spacy==3.7.4
syntok==1.4.4
faiss-cpu==1.8.0.post1
sentence-transformers==2.6.1
google-generativeai
langchain==0.2.14
langchain-core==0.2.24
langchain-community==0.2.10
langchain-text-splitters==0.2.2
requests
aiohttp
numpy
pandas
rich
